.get-values{
    cursor: pointer;
}

.get-values:hover{
    text-decoration: underline;
}

.values{
    display: flex;
    flex-direction: column;
    padding-top: 1em;
    padding-bottom: 1em;
}

.value{
    padding-bottom: 0.5em;
}